.history-container {
  margin-top: 2rem;
  background: lightgrey;
  border-radius: 1rem;
}
.history-container #toggleHistoryBtn {
  border: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  width: 100%;
  text-align: left;
}
.history-container #toggleHistoryContent {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.history-container #toggleHistoryContent .history-individual-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(236, 236, 236);
  padding: 1rem;
  position: relative; /* Positioning context for child */
  flex-direction: column;
}
.history-container #toggleHistoryContent .history-individual-container p {
  padding: 0.25rem;
}
.history-container #toggleHistoryContent .history-individual-container .close-history {
  background-color: red;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: white;
  position: absolute; /* Position relative to the parent */
  top: 0; /* Align to the top */
  right: 0; /* Align to the left */
  width: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.history-container #toggleHistoryContent .history-individual-container .close-history:hover {
  background-color: rgb(113, 0, 0);
  color: red;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f7;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in;
}

.hero {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  flex-direction: column;
  padding: 10%;
}
.hero .dashboard-container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  height: auto;
}
.hero .dashboard-container .column-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .hero .dashboard-container .column-container {
    flex-direction: row;
  }
}
.hero .dashboard-container .column-container .column-left {
  width: 100%;
}
@media (min-width: 1024px) {
  .hero .dashboard-container .column-container .column-left {
    max-width: 66%;
  }
}
.hero .dashboard-container .column-container .column-left #myChart {
  width: 250px;
  max-width: 500px;
  height: 400px;
  max-height: 500px;
}
.hero .dashboard-container .column-container .column-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  .hero .dashboard-container .column-container .column-right {
    max-width: 33%;
    flex-direction: column;
    padding-left: 1rem;
    align-items: start;
    justify-content: center;
  }
}
.hero .dashboard-container .column-container .column-right button {
  padding: 0.75rem 2rem;
  background-color: #007aff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}
.hero .dashboard-container .column-container .column-right button:hover {
  background-color: #005ecb;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.hero .dashboard-container .column-container .column-right #display-investment {
  background-color: #f5f5f7;
  width: 100%;
  display: flex;
  border-radius: 8px;
  padding: 2rem 0;
}
.hero .dashboard-container .column-container .column-right #display-investment p {
  text-align: center;
  flex: 1;
  font-size: 14px;
}
.hero .dashboard-container .column-container .column-right #display-investment b {
  font-size: 20px;
}
.hero .dashboard-container .column-container .column-right #display-investment #display-investment_final-investment b.red {
  color: red;
}
.hero .dashboard-container .column-container .column-right #display-investment #display-investment_final-investment b.green {
  color: green;
}
.hero .dashboard-container .column-container .column-right #display-investment #display-investment_cagr b.red {
  color: red;
}
.hero .dashboard-container .column-container .column-right #display-investment #display-investment_cagr b.yellow {
  color: rgb(187, 187, 0);
}
.hero .dashboard-container .column-container .column-right #display-investment #display-investment_cagr b.green {
  color: green;
}
.hero .dashboard-container .data-column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f5f5f7;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  justify-content: space-between;
}
.hero .dashboard-container .data-column-right select {
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.4745098039);
  color: #333;
  border: solid 1px lightgrey;
  border-radius: 8px;
  font-size: 14px;
  flex-basis: 50%;
  max-width: 50%;
  margin-right: 0.5rem;
}
.hero .dashboard-container .data-column-right select:focus {
  outline: none;
}
.hero .dashboard-container .data-column-right input {
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.4745098039);
  color: #333;
  border: solid 1px lightgrey;
  border-radius: 8px;
  font-size: 14px;
  flex-basis: 50%;
  max-width: 49% !important;
  margin-right: 0.5rem;
}
.hero .dashboard-container .data-column-right p {
  font-size: 16px;
}
.hero .dashboard-container .data-column-right .data-title {
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  margin-left: 0.5rem;
}
@media (min-width: 1024px) {
  .hero .dashboard-container .data-column-right {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
